body{
  background-color: #483f5f;
}

.App {
  background-color: #f5f5f5;
  margin: 40px auto;
  min-height: 500px;
  width: 400px;
}
#head {
  align-content: center;
  border: 10px;
  color: #f5f5f5;
  display: flex;
  font-family: Times New Roman,Times,serif;
  justify-content: center;
}
#head, body {
  background-color: #db7093;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


#to-do-form input {
  background-color: #db7093;
  border: 0;
  border-radius: 10px;
  color: #f5f5f5;
  font-family: Times New Roman,Times,serif;
  font-size: 18px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  width: 200px;
}
#to-do-form input::placeholder{
  color:aliceblue;
}
#to-do-form input:focus ,#to-do-form button:focus{
  outline:none;
}
#to-do-form button {
  background-color: #db7093;
  border: 0;
  border-radius: 5px;
  color: #f5f5f5;
  cursor: pointer;
  font-family: Times New Roman,Times,serif;
  font-weight: bolder;
  height: 35px;
  width: 50px;
}
